h1{
    margin-top: 11%;
    padding-left: 3%;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: solid;
    width: 98%;
    padding-left: 3%;
  }
   #customers th, #customers td {
    border: 1px solid #ddd;
    padding: 8px;

  }
  #customers tr:nth-child(even){background-color: white;}
  
  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(3, 111, 184);
    color: white;
    
  }

  #customer {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 91%;
    margin-left: auto; 
  margin-right: auto;
  }
  
  #customer td, #customer th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customer tr:nth-child(even){background-color: #f2f2f2;}
  
  #customer tr:hover {background-color: #ddd;}
  
  #customer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ddd;
    color: white;
  }
  .delete-button {
    display: inline-block;
    padding: 5px 10px;
    /* Red color */
    color: rgb(255, 1, 1);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}