<html xmlns:th="http://wwww.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/clinicteam.css">
    
        <title>Clinic</title>
    </head>
    <body>
        <div th:include="navbar"></div>
        <div class="signup">
            <p class="sign">Our Team</p>
        </div>
    
        <div class="container">
            <div>
            <div class="row">
                
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
    
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
    
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
                
            </div>
          </div>
        </div>
    
        <div class="container">
            <div>
            <div class="row">
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
    
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
    
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
                
            </div>
          </div>
        </div>
    
        <div class="container">
            <div>
            <div class="row">
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
    
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
    
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
    
            </div>
          </div>
        </div>
    
        <div class="container">
            <div>
            <div class="row">
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
    
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
    
                <div class="col-4">
                    <img src="../images/doctor.jpg" alt="Doctor">
                    <h4>Dr. Nadine Yasser</h4>
                    <p>Cardiology</p>
                </div>
    
            </div>
          </div>
        </div>
        <div th:include="footer"></div>
    </body>
</html>