<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signup&login.css">
    <title>Edit Profile</title>
</head>
<body>
    <div th:include="navbar"></div>
<div class="signup">
    <p class="sign">Edit Profile</p>
</div>

<div class="sign">
    <form th:action="${session.userType == 'admin' ? '/Admin/EditProfile' : '/User/EditProfile'}" method="post" th:object="${user}">
        <input type="hidden" name="action" value="UpdateUser">

        <input id="name" type="text" class="element" th:field="*{name}" placeholder="Name"><br>

        <input id="dob" type="text" class="element" th:field="*{dob}" placeholder="Date of Birth"><br>

        <input id="username" type="text" class="element" th:field="*{username}" placeholder="Username"><br>

        <input id="password" type="password" class="element" th:field="*{password}" placeholder="Password"><br>

        <input class="submit" type="submit" value="Update"><br>
    </form>

    <a style="text-decoration: none; display: inline-block;" href="../User/Profile" class="submit">Back</a>
</div>
<div th:include="footer"></div>
</body>
</html>
