<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/sidebar.css">

</head>

<body>
    <div class="navigation">
        <ul>
            <li>
                <a href="Index">
                    <span class="icon">
                        <ion-icon name="logo.png"></ion-icon>
                    </span>
                    <span class="title">ICare</span>
                </a>
            </li>
            <li>
                <a href="Index">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li>
                <a href="Dashboard">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="addDoctor">
                    <span class="icon">
                        <ion-icon name="add-outline"></ion-icon>
                    </span>
                    <span class="title">Add Doctors</span>
                </a>
            </li>
            <li>
                <a href="view_doctors">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="title">Doctors</span>
                </a>
            </li>
            <li>
                <a href="addPatient">
                    <span class="icon">
                        <ion-icon name="add-outline"></ion-icon>
                    </span>
                    <span class="title">Add Patient</span>
                </a>
            </li>

            <li>
                <a href="viewPatient">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="title">Patients</span>
                </a>
            </li>



            <li>
                <a href="addNurse">
                    <span class="icon">
                        <ion-icon name="add-outline"></ion-icon>
                    </span>
                    <span class="title">Add Nurse</span>
                </a>
            </li>

            <li>
                <a href="viewNurse">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="title">Nurses</span>
                </a>
            </li>

            <li>
                <a href="viewApp">
                    <span class="icon">
                        <ion-icon name="clock-outline"></ion-icon>
                    </span>
                    <span class="title">Appointments</span>
                </a>
            </li>

            <li>
                <a href="Login">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="user">
            <h2>hi,<span th:text="${session.username}"></span></h2>
        </div>
    </div>
    <script src="../js/dashboard.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>