

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/view_doctors.css">

    <title>All Doctors</title>
</head>

<body>
    <h2>All Doctors</h2>
    <a th:href="@{/Admin/Dashboard}" class="back-button">Back</a>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.id}"></td>
                <td th:text="${doctor.name}"></td>
                <td th:text="${doctor.email}"></td>
                <td><a th:href="@{/Admin/updateDoctor/{id}(id=${doctor.id})}" class="edit-button">Edit</a></td>
                <td> <form th:action="@{/Admin/deleteDoctor(id=${doctor.id})}" method="post" style="display:inline;">
                    <button type="submit" class="delete-button">Delete</button>
                </form></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
